.outerContainer {

    width: 1000px;
    margin: auto;
    background-color: #EAF6F6;
}

hr {

    /* margin: auto; */
    border-style: dotted none none none;
    border-width: 7px;
    border-color: #087070;
    width: 10%;
    margin: 30px auto 30px auto;


}
h1{
    color: #044545;
}
h3{
    color: #009c9c;
}

p{
    color: rgb(69, 92, 94);
}